.h{
    padding-right: 2.8rem;
    padding-left: 2.8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
   
}
.my-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 10%;
    margin-top: 20px;
    
  }
