
.i {
    background: linear-gradient(180deg, #f2a0d5, #e1ffea22 100%);
    
    display: "flex";
    flex-direction: column;
    gap:".6rem";
    
    
}

    


.i img {
    width: 350px;
    height: 418px;
}

.p{
    padding-top: 2rem;
    padding-left: 2rem;
}
.t {
    font-size: 1.5rem;
    

}
.r{
    font-size: 1.3rem;
      
}
.u{
    color: #1060df;
    font-size: 1.5rem;
    font-weight: 600;
}

