.hero {
    height: 90vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;

  }
  .hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 5px;
    padding-left: 180px;
    line-height: 0.1;
  }
  .hero-left h2 {
    color: #090909;
    font-size: 60px;
    font-weight: 600;
  }
  .hero-left p {
    color: #171717;
    font-size: 30px;
    font-weight: 700;
    
  }
  /* .hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .hero-hand-icon img {
    width: 80px;
  } */
  .hero-hand-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    text-align: center;
  }
  
  .hero-hand-icon img {
    max-width: 80px; /* Adjust the size of the hand icon as needed */
    height: auto;
  }
  
  .hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 309px;
    height: 69px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff41bd;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
  }
  .hero-latest-btn:hover div{
      padding: 10px;
      transition: 1s;
    }
  .hero-right {
    flex: 1;
    display: flex;
    align-items:center;
    justify-content: center;
    
  }

 
 