/* .product-listing-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.li{
    padding-top: 4rem;
    display: flex;
   justify-content: space-between;
    gap: 3rem;
    list-style-type:none;
margin-bottom:10px;
display:table-cell;
vertical-align:bottom;
}
.product-listing-card{
    border:1px solid #aaa;
 width:fit-content;
 padding-right: 2.8rem;
 padding-top: 2rem;
 padding-bottom: 2rem;
 border-radius: 10px;
}
.product-listing-image{
   width: 210px;
}
.product-listing-details-container{
    padding-top: 2rem;
    padding-left: 2rem;
}
.author-name{
    font-size: 1.3rem;
    padding: 0.5rem  0;
}
.price{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(175, 115, 4);
}
.product-listing-button{
    display:inline-block;
    background-color:yellowgreen ;

width: 100%;
padding: 1rem 0;
text-align: center;
color: white;
font-family: Chivo Mono;
text-decoration:none ;
margin-top: 2rem;
}
.product-listing-button:hover{
    background-color: black;
} */

.item {
    border:1px solid #aaa;
    width:fit-content;
    padding-right: 2.8rem;
    padding-left: 2.8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    
    
}

.item img {
    width: 350px;
    height: 418px;
}
.item-listing-details{
    padding-top: 2rem;
    padding-left: 2rem;
}



.t {
    font-size: 1.3rem;
    padding: 0.5rem  0;
    text-align: left;


}

.item p {
    margin: 6px 0px;
}

.item-price-new {
    color: #1060df;
    font-size: 1.5rem;
    font-weight: 600;
}

.item-price-old {
    color: #8C8C8C;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

.item-button {
    display: inline-block;
    background-color: yellowgreen;

    width: 100%;
    padding: 1rem 0;
    text-align: center;
    color: white;
    font-family: Chivo Mono;
    text-decoration: none;
    margin-top: 2rem;
}

.item-button:hover {
    background-color: black;

}