.popular {
    display:flex;
   
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
  gap:10px;
    height: 90vh;
   
  }
  .popular h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    margin: 0;
  }
  .popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
  }
  .popular-item{
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap:30px;
      
  }